<style>
  #mfooter{
    background-color: rgb(181, 189, 192,0.30);
    padding:5px 5px 5px;
    position:relative;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
    }

  
</style>
<div class="container-fluid my-5" id="mfooter">
  
    <!-- Footer -->
    <footer
      <!-- Grid container -->
      <div class="container p-4 pb-0">
        <div class="mx-auto">
        <h4>We're here to help<br><h4>
          <h6><span style="color:red">This is Just Practice Project by Vishal,Not real Website</span></h6></div>
        <!-- Section: Links -->
        <section class="">
          <!--Grid row-->
          <div class="row">
            <!-- Grid column -->
            <div class="col-md-6 col-lg-6 col-xl-6  mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">
                About Us
              </h6>
              <p>
                This is Just Practice Project by Vishal,Not real Website
              </p>
            </div>
            <!-- Grid column -->
  
            <hr class="w-100 clearfix d-md-none" />
  
           
            
            <!-- Grid column -->
  
            <hr class="w-100 clearfix d-md-none" />
  
            
  
            <!-- Grid column -->
            <hr class="w-100 clearfix d-md-none" />
  
            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">Contact US</h6>
              
              <p><i class="fas fa-envelope mr-3"></i> vaumtol@gmail.com</p>
              <!--
              <p><a class="btn bord mx-1" role="button" href="{% url 'contact' %}"> Contact Form</a></p>
              -->
            </div>
            <!-- Grid column -->
          </div>
          <!--Grid row-->
        </section>
  
        <hr >
        <!-- Section: Copyright -->
        <section class="p-3 pt-0">
          <div class="row d-flex align-items-center">
            <!-- Grid column -->
            <div class="col-md-7 col-lg-8 text-center text-md-start">
              <!-- Copyright -->
              <div class="p-3">
                My portfolio:
                <a class="weblink" style="color:#0000a0;" href="vishalumtol.herokuapp.com"
                   ><u>vishalumtol.herokuapp.com</u></a
                  >
              </div>
              <!-- Copyright -->
            </div>
            <!-- Grid column -->
  
            
        </section>
        <!-- Section: Copyright -->
      </div>
      <!-- Grid container -->
    </footer>
    <!-- Footer -->
  </div>
  <!-- End of .container -->