{% extends 'basic.html' %}

{% block title%}How it Works {% endblock %}

{% block css %} 
{% include 'mfstyle.css' %}
{% endblock %}

{% block body %}
<br>
<div class="container  ">
    
<div class="col-lg-10 col-12 col-md-12 pro">
<pre>
<h1 align='center'><b>How It Works</h1>  
<p>
FOR USER: To register  , click on “register” button.
Register to the website as a applicant. Once you get registered fill 
in the required details. 
The details include are name, education, address, skills, date of birth, gender, mobile number, 
email address, total work experience, previous work details, introduction video, aadhar card number,
pan card number, disability certificate, course certificates and profile picture. After this, 
you are all set for searching and applying for jobs. Whenever you've finished this, 
your profile is enlisted with us. This is your default profile which is sent across the enrollment s
pecialists when you go after a specific position opening. We strongly prescribe you to fill all details.


FOR RECRUITER: To register at  , click on “register” button. Register to the website 
as a recruiter. Fill out company details and logo. After that you can start posting for jobs. 
Job post require details like job position, skills, disability, job description, minimum salary, maximum salary, 
minimum experience, maximum experience, location and date.
    
</p></pre>
</div>
</div>

{% endblock %}