{% extends 'basic.html' %}

{% block title%}FAQs {% endblock %}

{% block css %} 
{% include 'mfstyle.css' %}
{% endblock %}

{% block body %}
<br>
<div class="container  ">
<div class="col-lg-10 col-12 col-md-12 pro">

<pre>
<h1 align='center'><b>FAQS</h1>  
<p>1) Who can apply for jobs?
- Any person with physical disability can apply for jobs 
through website.

2)  Can I apply more than one job at a time?
- Yes, you can definitely apply for multiple jobs at 
same time.

3) How would I look for applicable positions?
- Search gives you a choice to search for applicable positions 
in view of your particular necessities. 
To look for a task, you can utilize the given pursuit window. 
It is suggested that you indicate the keywords, favoured areas
and your absolute experience measures to get to access new 
employment results which are nearest to what you are searching for.

4) Who all have access to my resume?
- Once you have registered with complete details, all the 
recruiters who are registered with 
www.disabilityjobs.gov.in can access it.

5) How can I say whether I have effectively gone after a position?
- In case of a successful job application, you will see the applied job
 list by selecting the job applied option.

6) How can I post a job?
- Login to your Recruiter’s account with the 
username and password. Go to Post a Job then Fill the Job Publishing form
,preview and post it.

7) For how long my job will remain posted?
- All the jobs remain active on the website, depending upon job post date.
</p></pre>
</div>
</div>



{% endblock %}